/******************************************************
 * I copied these styles from markdotto.com, who is
 * the creator of bootstrap, and I also did some
 * modification. Thanks Mark for the beautiful theme,
 * so I reserved the @mdo sign below.
 *****************************************************/

/*
  __
  __                  /\ \
  /'_`\_    ___ ___    \_\ \    ___
  /'/'_` \ /' __` __`\  /'_` \  / __`\
  /\ \ \L\ \/\ \/\ \/\ \/\ \L\ \/\ \L\ \
  \ \ `\__,_\ \_\ \_\ \_\ \___,_\ \____/
  \ `\_____\\/_/\/_/\/_/\/__,_ /\/___/
  `\/_____/

*/

@import './fonts.css';

html {
    overflow-y: scroll;
}

pre {
    background-color: black;
}

@media (max-width: 40.0rem) {
    pre {
        background-color: black;
        font-size: 50%;
    }

    .profile_pic {
        display: none;
    }
    .profile_pic_mobile {
        display: block;
    }
}

pre {
    background: snowwhite;
    border-left: .3rem solid black;
    font-family: "Menlo","Consolas","Bitstream Vera Sans Mono","DejaVu Sans Mono","Monaco",monospace;
}

a {
    color: #d81252;
    font-weight: bold;

}

a:hover {
    color: #d81252;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #323538;
    background-color: snowwhite;
    opacity: 0.9;
    padding-top: 50px;
}

section.header h2 {
    font-family: 'Josefin Slab';
}

section.header a {
    color: inherit;
}
section.post section.head, h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

section.post section.head section.date {
    font-size: 0.5em;
}

section.post section.body {
    margin-top: 40px;
}
