<head>
  <meta charset="utf-8">

  <title>{{ .Site.Title}}</title>

  <meta name="description" content="City Atlas">
  <meta name="author" content="geografia">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='/css/normalize.css' rel='stylesheet' />
  <link href='/css/milligram.min.css' rel='stylesheet' />
  <link href='/css/prettify.css' rel='stylesheet' />
  <link href='/css/main.css' rel='stylesheet' />


  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/prettify.js"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
